
body {
    font-family: helvetica, arial, sans-serif;
    font-size: 75%;
    line-height: 1.125em;
    overflow: hidden;
    width: 41em;
}

body, div {
    margin: 0px;
    padding: 0px;
}

.clear {
    clear: both;
}

.stats-wrapper {
    float: right;
}

.navitem {
    padding: 2px 0px;
    border-top: 2px solid #b5c7de;
    font-weight: bold;
    cursor: pointer;
    line-height: 100%;
    float: left;
    width: 25%;
    text-align: center;
}

.navitem:hover {
    background-color: #ebeff9;
}

.navitem.selected {
    background-color: #b5c7de;
}

.list-wrapper {
    margin-top: 1em;
    padding: 0px 1em;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;
}

.list-item {
    margin-bottom: 1em;
}

.list-item .name {
    float: left;
    width: 34em;
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.progress-bar.error {
    border: 2px solid #f97d6d;
}

.progress-bar.error hr {
    background-color: #f6c9c2;
}

.progress-bar.paused {
    border: 2px solid grey;
}

.progress-bar.paused hr {
    background-color: grey;
}

.progress-bar.seeding {
    border: 2px solid #7bd148;
}

.progress-bar.seeding hr {
    background-color: #daf2cc;
}

.progress-bar.downloading {
    border: 2px solid #2c70d1;
}

.progress-bar.downloading hr {
    background-color: #4986e7;
}

.progress-bar.verifying {
    border: 2px solid #fad165;
}

.progress-bar.verifying hr {
    background-color: #fef2d3;
}

.progress-bar {
    margin-top: 3px;
    margin-left: 5px;
    width: 90%;
    float: left;
}
.progress-bar.v14 {
    width: 82%;
}
.progress-bar hr {
    margin: 0px;
    padding: 0px;
    height: 4px;
    border: 0px;
    text-align: left;
}

div.status-wrapper {
    float: left;
    margin: 0px;
    text-align: left;
    color: #777;
    font-size: 0.75em;
}

div.speed-wrapper {
    float: right;
    margin: 0px;
    text-align: right;
    color: #777;
    font-size: 0.75em;
}

div.percent {
    float: right;
    color: #777;
    font-size: 0.75em;
    width: 4em;
    text-align: right;
}

div.pause.torrent, div.resume.torrent, div.remove.torrent {
    width: 14px;
    height: 14px;
    float: right;
}

div.queue-up, div.queue-down {
    width: 14px;
    height: 14px;
    float: left;
}

div.queue-up {
    margin-right: 5px;
}

div.queue-up {
    background: url("../img/torrent_buttons.png") no-repeat -56px 0px;
}
div.queue-up:hover {
    background: url("../img/torrent_buttons.png") no-repeat -56px -14px;
}
div.queue-up:active {
    background: url("../img/torrent_buttons.png") no-repeat -56px -28px;
}
div.queue-down {
    background: url("../img/torrent_buttons.png") no-repeat -70px 0px;
}
div.queue-down:hover {
    background: url("../img/torrent_buttons.png") no-repeat -70px -14px;
}
div.queue-down:active {
    background: url("../img/torrent_buttons.png") no-repeat -70px -28px;
}

div.remove.torrent {
    margin-right: 5px;
}

div.pause.torrent {
    background: url("../img/torrent_buttons.png") no-repeat 0px 0px;
}
div.pause.torrent:hover {
    background: url("../img/torrent_buttons.png") no-repeat 0px -14px;
}
div.pause.torrent:active {
    background: url("../img/torrent_buttons.png") no-repeat 0px -28px;
}
div.resume.torrent {
    background: url("../img/torrent_buttons.png") no-repeat -14px 0px;
}
div.resume.torrent:hover {
    background: url("../img/torrent_buttons.png") no-repeat -14px -14px;
}
div.resume.torrent:active {
    background: url("../img/torrent_buttons.png") no-repeat -14px -28px;
}
div.remove.torrent {
    background: url("../img/torrent_buttons.png") no-repeat -42px 0px;
}
div.remove.torrent:hover {
    background: url("../img/torrent_buttons.png") no-repeat -42px -14px;
}
div.remove.torrent:active {
    background: url("../img/torrent_buttons.png") no-repeat -42px -28px;
}

div.button.wrapper {
    margin: 0px 1em;
    float: left;
    cursor: pointer;
}

div.button.wrapper div {
    margin: auto;
    width: 32px;
    height: 32px;
}

div.bottom.navbar {
    background: lightgray;
    padding: 2px;
}

div.link-wrapper {
    float: left;
}

.button.wrapper.webui {
    margin: 5px;
}

div.pause.all div {
    background: url("../img/toolbar_buttons.png") no-repeat 0px -128px;
}

div.resume.all div {
    background: url("../img/toolbar_buttons.png") no-repeat 0px -160px;
}

div.webui div {
    background: url("../img/icon-32.png") no-repeat;
}

div.transmission-error {
    color: red;
    white-space: nowrap;
    margin: 2em;
}

img.turtle {
    width: 20px;
    height: 14px;
    border: 1px solid lightgray;
}

img.turtle.off {
    background: url("../img/turtle-grey.png") no-repeat 50% 50%;
}

img.turtle.on {
    background: url("../img/turtle-blue.png") no-repeat 50% 50%;
}

img.turtle:hover {
    background-color: lightgray;
    border: 1px solid #b5c7de;
}
