body, td {
    font-family:helvetica, arial, sans-serif;
    font-size:80%;
    margin:10px;
}

h1.header {
    font-size: 156%;
    padding-bottom: 43px;
    padding-left: 75px;
    padding-top: 40px;
    background: url(../img/icon-small.png) no-repeat;
    background-size: 67px;
    background-position: 1px 18px;
}

.section {
    margin-bottom: 4em;
}

.section .header {
    background: #ebeff9;
    border-top: 1px solid #b5c7de;
    font-size: 99%;
    padding: 3px 0 2px 5px;
    font-weight: bold;
    margin-bottom: 1em;
}

td.field input {
    width: 25em;
}

td.label {
    width: 20em;
}

table#paths-table {
    margin-top: 1em;
    margin-left: 1em;
}

input.path-label {
    width: 15em;
}

input.path-directory {
    width: 24em;
}

#notification-table {
    margin-top: 1em;
}

div.wrapper {
    margin-top: 1em;
}

.custom-domain {
    width:300px;
    margin-left:2px;
}

.footer {
    margin-top:4em;
}

input[type = submit] {
    font-weight : bold;
}
.result, .details {
    color: #777;
    font-size: 11px;
}
.error {
    color: red;
}

.text-disabled {
    color: grey;
}
